/*======================NO SCROLL BAR====================*/
/* width */
.noScrollbar ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/*==============LITTLE BLACK SCROLL BAR================*/
/* width */
.scrollbarIMac ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scrollbarIMac Track ::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle*/
.scrollbarIMac ::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51);
}

/* Handle on hover*/
.scrollbarIMac ::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
